<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="<%= active?(root_path)%>">
          <%= link_to "Home", root_path %>
        </li>
        <li class="<%= active?(about_path)%>">
          <%= link_to "About Us", about_path %>
        </li>
        <li class="<%= active?(gallery_path)%>">
          <%= link_to "Gallery", gallery_path %>
        </li>
      </ul>
    </div>
  </div>
