<%= render 'shared/header' %>

<div class="container">
  <div id="home-row-one">
    <div class="row">
      <div class="col-md-6 text-center">
        <%= image_tag "https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/home+page/house_mid_construction.jpeg", class: "home-page-image" %>
      </div>

      <div class="col-md-6 text-center home-page-text">
        <div>
          <h3>Serving the Wasatch Front</h3>
          <h3><i>Licensed &amp; Insured General Contractor</i></h3>
        </div> 
      </div>    
    </div>
  
  <hr>
  <div id="home-row-two">
    <div class="row">
      <div class="col-md-6 text-center home-page-text">
        <div>
          <h3>Contact Us</h3>
          <h4>Office: 801-738-7907</h3>
          <h4>Mobile: 385-227-7337</h3>
          <h4>
            <a href="mailto:bigriverconstruction@hotmail.com?subject=EnterSubject">
              <button class="btn-lg btn-success">
                Email Us
              </button>
            </a>
          </h4>
        </div>
      </div>

      <div class="col-md-6">
        <%= image_tag "https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/home+page/back_patio.jpeg", class: "home-page-image" %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "https://s3-us-west-1.amazonaws.com/clingman-big-river-bucket/home+page/basement_extension.jpeg", class: "home-page-image" %>
    </div>
    <div class="col-md-6" id="ul-list">
      <ul>
        <% @jobs.each do |job|%>
          <li> <%= job.name %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>