<%= render 'shared/header' %>

<h2>Serving the Wasatch Front</h2>
<h2>Office: 801-738-7907</h2>
<h2>Mobile: 385-227-7337</h2>
<h2><i>Licensed &amp; Insured General Contractor</i></h2>
<h2>The Renovation Experts</h2>

<h3>
  <ul>
    <li>Additions</li>
    <li>Renovations</li>
    <li>Siding</li>
    <li>Window Replacements</li>
    <li>Energy Efficiency Upgrades</li>
    <li>Custom Carpentry</li>
    <li>Basement Finishes</li>
    <li>Roof Conversions</li>
    <li>Decks</li>
    <li>Kitchens &amp; Baths</li>
    <li>Footings &amp; Foundations</li>
    <li>Design Build</li>
    <li>Small Commercial</li>
    <li>Garages &amp; Outbuildings</li>
    <li>Skylights</li>
    <li>Beams &amp; Columns</li>
  </ul>
</h3>

<%= image_tag "photo_1.jpeg" %>
<%= image_tag "photo_2.jpeg" %>
<%= image_tag "photo_3.jpeg" %>
<%= image_tag "photo_4.jpeg" %>


